# ignore all objects
*.o
PHASE-2/src/main.o
PHASE-2/src/User.o
PHASE-2/src/AuctionSystem.o
PHASE-2/src/FileController.o
PHASE-3/src/main.o
PHASE-3/src/User.o
PHASE-3/src/AuctionSystem.o
PHASE-3/src/FileController.o

# ignore all executables
*.exe
PHASE-2/src/auction_system
PHASE-3/src/auction_system
PHASE-4/.DS_Store
